<div class="mastfoot">
<div class="inner">
  <ul class = "mastfoot-nav">
      <li><%= link_to "Masthead",   about_path %></li>
      <li><%= link_to "Donate",   donate_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
  </ul>
  <ul class = 'mastfoot-nav'>
    <li><%= link_to image_tag("twitter_logo.png", alt: "Twitter"), 'https://twitter.com/CrkdShift' %></li>
    <li><%= link_to image_tag("fb_logo.png", alt: "facebook"), 'http://www.facebook.com/' %> </li>
  </ul> 
  <ul class = "mastfoot-form">    
      <!-- <li>Sign up for our newsletter:</li> -->
<!--       <%= form_tag('/mcsubscribe/subscribe', method: "post", id: "mcsubscribe", remote: "true") do -%>
      <%= email_field(:email, :address, {id: "email", placeholder: "email address"}) %>
      <%= submit_tag("Subscribe") %>
      <% end %>
<div id="response">Response Will be displayed here</div> -->
      		<!-- <p><li><input type="email" class = "foot-input" placeholder="Your email"></li></p>
      		<p><li><a href="#" class="btn btn-lg btn-default">Submit</a></li></p> -->
  </ul>
</br>
  <ul class = "mastfoot-cr">
      <li>ISSN 2333-973X</a>.</li>
  </ul>
</div>
</div>