<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">C/Shft</h3>
      <ul class="nav masthead-nav">
		<li><%= link_to "Cover",    root_path %></li>
		<li><%= link_to "Current Issue",    current_path %></li>
		<li><%= link_to "Submissions",    submission_path %></li>
		<!-- <li><%= link_to "Archive",    "#" %></li>
		<li><%= link_to "Editor's Desk",    "#" %></li> -->
  	  </ul>
  </div>
</div>
