<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">C/Shft</h3>
      <ul class="nav masthead-nav">
		<li><%= link_to "Cover",    root_path %></li>
		<li><%= link_to "Submissions",    submission_path %></li>
		<!-- <li><%= link_to "Current Issue",    current_path %></li> -->
		<!-- <li><%= link_to "Archive",    "#" %></li>
		<li><%= link_to "Editor's Desk",    "#" %></li> -->
		<!-- <li> | </li> -->
		<!-- <li><%= link_to image_tag("twitter_logo.png", alt: "Twitter"), 'https://twitter.com/CrkdShift' %></li>
		<li><%= link_to image_tag("fb_logo.png", alt: "facebook"), 'http://www.facebook.com/' %></li> -->
  	  </ul>
  </div>
</div>
