<!DOCTYPE html>
<html>
<head>
  <title>Crooked/Shift | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

</head>
<body>
<div class="site-wrapper">

  <div class="site-wrapper-inner">
        
    <%= render 'layouts/header' %>

    <div class="cover-container">

      <div class="inner cover">
                
        <%= yield %>

      </div>

    </div>

    <%= render 'layouts/footer' %>

  </div>

</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
  </body>
</html>
